@import 'tailwindcss';
@import 'tw-animate-css';
@import 'tailwind-scrollbar-hide/v4';
@import '@fontsource/anton';
@import '@fontsource-variable/inter';
@import '@fontsource-variable/inter/wght-italic';
@import '@fontsource/chakra-petch/500';
@plugin 'tw-clamp-css/dynamic';
@custom-variant dark (&:is(.dark *));

:root {
  --radius: 1.25rem;
  --background: var(--color-amber-50);
  --foreground: var(--color-black);
  --card: var(--color-lime-400);
  --card-foreground: var(--color-black);
  --popover: var(--color-amber-50);
  --popover-foreground: var(--color-black);
  --primary: var(--color-lime-500);
  --primary-foreground: var(--color-black);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-neutral-900);
  --muted: var(--color-neutral-200);
  --muted-foreground: var(--color-neutral-700);
  --accent: var(--color-indigo-500);
  --accent-foreground: var(--color-white);
  --destructive: var(--color-red-600);
  --border: var(--color-neutral-300);
  --input: var(--color-neutral-100);
  --ring: var(--color-indigo-500);
}
.dark {
  --background: var(--color-amber-950);
  --foreground: var(--color-white);
  --card: var(--color-lime-500);
  --card-foreground: var(--color-black);
  --popover: var(--color-amber-950);
  --popover-foreground: var(--color-white);
  --primary: var(--color-lime-400);
  --primary-foreground: var(--color-black);
  --secondary: var(--color-neutral-800);
  --secondary-foreground: var(--color-neutral-200);
  --muted: var(--color-neutral-900);
  --muted-foreground: var(--color-neutral-400);
  --accent: var(--color-indigo-400);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-red-700);
  --border: var(--color-neutral-700);
  --input: var(--color-neutral-900);
  --ring: var(--color-indigo-400);
}

@theme inline {
  --font-sans:
    'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-anton:
    'Anton', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 2px);
  --radius-2xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --breakpoint-xs: 32rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-anton;
  }
}
