@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import '@fontsource/anton';
@import '@fontsource-variable/inter';
@import '@fontsource-variable/inter/wght-italic';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans:
    'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-heading:
    'Anton', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --breakpoint-xs: 32rem;
}

:root {
  --radius: 1.25rem;
  --background: var(--color-amber-50);
  --foreground: var(--color-black);
  --card: var(--color-lime-400);
  --card-foreground: var(--color-black);
  --popover: var(--color-amber-50);
  --popover-foreground: var(--color-black);
  --primary: var(--color-lime-500);
  --primary-foreground: var(--color-black);
  --secondary: var(--color-neutral-100);
  --secondary-foreground: var(--color-neutral-900);
  --muted: var(--color-neutral-200);
  --muted-foreground: var(--color-neutral-700);
  --accent: var(--color-indigo-500);
  --accent-foreground: var(--color-white);
  --destructive: var(--color-red-600);
  --border: var(--color-neutral-300);
  --input: var(--color-neutral-100);
  --ring: var(--color-indigo-500);
}

.dark {
  --background: var(--color-amber-950);
  --foreground: var(--color-white);
  --card: var(--color-lime-500);
  --card-foreground: var(--color-black);
  --popover: var(--color-amber-950);
  --popover-foreground: var(--color-white);
  --primary: var(--color-lime-400);
  --primary-foreground: var(--color-black);
  --secondary: var(--color-neutral-800);
  --secondary-foreground: var(--color-neutral-200);
  --muted: var(--color-neutral-900);
  --muted-foreground: var(--color-neutral-400);
  --accent: var(--color-indigo-400);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-red-700);
  --border: var(--color-neutral-700);
  --input: var(--color-neutral-900);
  --ring: var(--color-indigo-400);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply h-full scroll-smooth font-sans antialiased;
  }
  body {
    @apply h-full bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
